<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/fonts/stylesheet.css" />
        <link rel="stylesheet" href="/assets/globals.css" />
        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="stylesheet" href="/assets/custom.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="frame">
            <div class="overlap-wrapper">
                <div class="overlap">
                    <div class="view">
                        <div class="overlap-group">
                            <div class="div">
                                <!-- <img class="img" src="/assets/img/image-3.png" /> -->
                                <!-- <img class="image-2" src="/assets/img/image-2.png" /> -->
                                <!-- <img class="element-2" src="/assets/img/4.png" /> -->
                                <!-- <img class="element-3" src="/assets/img/3.png" /> -->
                                <!--<img class="element-4" src="/assets/img/1-2.png" />-->
                                <!-- <img class="element-5" src="/assets/img/image.png" /> -->
                            </div>
                            <!--<img class="element-6" src="/assets/img/mygears.png" />-->
                        </div>
                    </div>
                    <!-- <img class="line" src="/assets/img/line-1.svg" /> -->
                    <!--
                    <div class="flexcontainer">
                        <p class="text">
                        <span class="text-wrapper">Уважаемые коллеги!<br /></span>
                        </p>
                        <p class="text">
                        <span class="text-wrapper"
                              >Повседневная практика показывает, что новая модель организационной деятельности предоставляет широкие
                              возможности для поставленных обществом задач. Как уже неоднократно упомянуто, стремящиеся вытеснить
                              традиционное производство, нанотехнологии и по сей день остаются уделом либералов, которые жаждут быть
                              объективно рассмотрены соответствующими инстанциями.<br
                                                                                      /></span>
                        </p>
                        <p class="text">
                        <span class="text-wrapper"
                              >С учётом сложившейся международной обстановки, социально-экономическое развитие не оставляет шанса
                              для распределения внутренних резервов и ресурсов. Кстати, сторонники тоталитаризма в науке и по сей день
                              остаются уделом либералов, которые жаждут быть разоблачены. Безусловно, убеждённость некоторых
                              оппонентов предопределяет высокую востребованность поставленных обществом задач.</span
                          >
                        </p>
                    </div>-->
                    <div class="date">
                        <img class="image" src="/assets/img/date_frame.png" />
                        <img class="image-date" src="/assets/img/date.png" />
                    </div>
                    <div class="timeline">
                        <div class="my-group secret">
                            <div class="vert-line"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">11:45</div>
                            <div class="my-text-wrapper-3">Сбор участников у метро Ховрино<br />Сбор участников у БП “Гринвуд”</div>
                            <div class="my-ellipse"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">12:00</div>
                            <p class="my-p">Трансфер от метро Ховрино и БП “Гринвуд” до места проведения мероприятия</p>
                            <div class="my-ellipse"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">13:00</div>
                            <p class="my-p">Регистрация, приветственный фуршет<br />
                                <a class="my-text-wrapper-11" href="https://lofthall.ru/birch/index.html" target="_blank" rel="noopener noreferrer">
                                    <u>The Birch</u>, Солнечногорский район, поселок Жуково
                                </a>
                            </p>
                            <div class="my-ellipse"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">14:00</div>
                            <p class="my-text-wrapper-4">
                            Приветственное слово Александра Марковича Ямницкого, Акционер компании ELKO Russia
                            </p>
                            <div class="my-ellipse"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">14:15</div>
                            <div class="my-text-wrapper-3">Тимбилдинг</div>
                            <div class="my-ellipse"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">17:00</div>
                            <div class="my-text-wrapper-5">Развлекательная программа:</div>
                            <ul>
                                <li class="my-li">вечерний фуршет<br /></li>
                                <li class="my-li">интерактивы от ведущего<br /></li>
                                <li class="my-li">выступление кавер-группы<br /></li>
                                <li class="my-li">шоу программа</li>
                            </ul>
                            <div class="my-ellipse"></div>
                        </div>
                        <div class="my-group">
                            <div class="my-text-wrapper-2">23:00</div>
                            <p class="my-text-wrapper-6">Окончание мероприятия,<br />Трансфер до метро Ховрино и до БП "Гринвуд"</p>
                            <div class="my-ellipse"></div>
                        </div>
                    </div>
                    <form class="form" method="post" action="/checkin">
                        <h1>Регистрация</h1>
                        <div class="flex-container">
                            <div class="item">
                                <div class="form-control">
                                    <label>Фамилия</label>
                                    <input name="data[lastname]" type="hidden" value="" />
                                    <input name="data[lastname]" type="text" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="form-control">
                                    <label>Имя</label>
                                    <input name="data[firstname]" type="hidden" value="" />
                                    <input name="data[firstname]" type="text" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="form-control">
                                    <label>Должность</label>
                                    <input name="data[position]" type="hidden" value="" />
                                    <input name="data[position]" type="text" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="form-control">
                                    <label>Email</label>
                                    <input name="data[email]" type="hidden" value="" />
                                    <input name="data[email]" type="text" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="form-control">
                                    <label>Мобильный телефон</label>
                                    <input name="data[phone]" type="hidden" value="" />
                                    <input name="data[phone]" type="text" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="form-control">
                                    <label>Офис</label>
                                    <div class="radios">
                                        <input name="data[office]" type="hidden" value="" />
                                        <label><input name="data[office]" type="radio" value="БП Гринвуд"/>БП "Гринвуд"</label>
                                        <label><input name="data[office]" type="radio" value="Склад Горки"/>Склад Горки</label>
                                        <label><input name="data[office]" type="radio" value="Санкт-Петербург"/>Санкт-Петербург</label>
                                        <label><input name="data[office]" type="radio" value="Красноярск"/>Красноярск</label>
                                    </div>
                                </div>
                            </div>
                            <div class="item checkboxes">
                                <div class="form-control">
                                    <label>Трансфер от м. Ховрино</label>
                                    <span><input name="data[transfer_from]" type="radio" value="yes" />Да</span>
                                    <span><input name="data[transfer_from]" type="radio" value="no" />Нет</span>
                                </div>
                            </div>
                            <div class="item checkboxes">
                                <div class="form-control">
                                    <label>Трансфер до м. Ховрино</label>
                                    <span><input name="data[transfer_to]" type="radio" value="yes" />Да</span>
                                    <span><input name="data[transfer_to]" type="radio" value="no" />Нет</span>
                                </div>
                            </div>
                            <div class="item checkboxes">
                                <div class="form-control">
                                    <label>На личном автомобиле / на такси</label>
                                    <span><input name="data[own_car]" type="radio" value="yes" />Да</span>
                                    <span><input name="data[own_car]" type="radio" value="no" />Нет</span>
                                </div>
                            </div>
                            <div class="item checkboxes">
                                <div class="form-control">
                                    <label>Трансфер от БП Гринвуд</label>
                                    <span><input name="data[transfer_from_green]" type="radio" value="yes" />Да</span>
                                    <span><input name="data[transfer_from_green]" type="radio" value="no" />Нет</span>
                                </div>
                            </div>
                            <div class="item checkboxes">
                                <div class="form-control">
                                    <label>Трансфер до БП Гринвуд</label>
                                    <span><input name="data[transfer_to_green]" type="radio" value="yes" />Да</span>
                                    <span><input name="data[transfer_to_green]" type="radio" value="no" />Нет</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit">Зарегистрироваться</button>
                    </form>
                    <footer>
                        <div class="bg-bottom"></div>
                    </footer>
                </div>
                <div class="bg-right"></div>
                <div class="bg-left-all">
                    <img class="gears" src="/assets/img/gears3.png" />
                    <div class="bg-left"></div>
                </div>
            </div>
			<script type="text/javascript">
				$(function(){
					$('form').off('submit').on('submit',function(e){
						e.preventDefault(); // avoid to execute the actual submit of the form.

						var form = $(this);
						var actionUrl = form.attr('action');

                        var data = $(form)
                            .serializeArray()
                            .reduce(function (json, { name, value }) {
                                json[name] = value;
                                return json;
                            }, {});

                        var has_err = false;
                        console.log(data);
                        Object.keys(data).every(function(k){
                            if(k.match(/transfer/)) return true;
                            else if(!data[k]) {
                                alert('Заполните все поля!');
                                has_err = true;
                                return false;
                            }
                            return true;
                        });
                        if(has_err) return false;

						$.ajax({
							type: "POST",
							url: actionUrl,
							data: form.serialize(), // serializes the form's elements.
                            dataType: 'json',
							success: function(data) {
                                if(data && data.status) {
                                    form.hide();
                                    alert('Успешно записано');
                                } else {
                                    alert('Ошибка во время записи: '+data.msg);
                                }
							}
						});

					});
				});
			</script>
	</body>
</html>
